/*Start Layout Rule*/

:root {
  --background: rgba(128, 128, 128, 0.85);
  --shadow: 20px 20px gray;
  --footer: rgba(128, 128, 128, 0.85);
  --btn-hr-color: rgb(88, 0, 0);
  --title-text: "Besley", serif;
  --content-text: "Oxygen", sans-serif;
   font-size: 1em; 
  --title-color: white;
  --content-color: gray;
}

html, body {
  margin: 0;
  padding: 0;
  background-image: url(img/herringbone.png);
  font-family: var(--content-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: var(--title-text);
}


p {
  color: var(--content-color);
  font-family: var(--content-text);
}


/* Header Rule*/

.header .background-img {
  background-image: url(img/firewatch.jpg);
  padding: 15px 0;
  text-align: center;
  background-size: cover;
  background-position: 50% 38%;
  width: 100%;
  margin: 0;
}

.header h1 {
  margin-top: 1.6em;
  text-shadow: 2px 2px 12px black;
  margin-bottom: 0;
  font-size: 6rem;
}

.header h3 {
  text-shadow: 2px 2px 12px black;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2.5em;
  font-family: "Oxygen", sans-serif;
}

/*Icons Rule*/

.icon {
  color: snow;
  font-size: 2.8rem;
}

.icon:hover {
  color: firebrick;
}
.icon-tray {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

/* Navigation Rule */



.nav-container {
  text-align: center;
  width: 100%;
  background: var(--background);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  padding: 0.5em;
  width: 20rem;
  height: 4rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Oxygen, sans-serif;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 950px) {
  .nav-toggle-label {
    display: none;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }



  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}


/* Button Format Rule*/


.btn-format {
  margin: 4rem 0 1.5em 0;
  text-align: center;
}

button:hover {
  background-color: rgba(85, 214, 170);
}


button {
  border-radius: 8px;
  margin: 0 auto;
  padding: 0.4em 3.5em;
  border: none;
  background: none;
  background-color: var(--btn-hr-color);
  font-family: "Oxygen", sans-serif;
  font-size: 1.1em;
  color: snow;
}


/* Card Format Rule*/

.big-format h2,
.lan-format h2,
.tech-format h2 {
  font-weight: strong;
  text-align: center;
  font-size: 2.8em;
  margin: 0 0;
  word-spacing: 10px;
}

.big-format .main-col,
.tech-format .main-col,
.lan-format .main-col {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  text-align: left;
  line-height: 1.5;
  color: var(--content-color);
  font-size: 1em;
}

.big-format hr,
.lan-format hr,
.tech-format hr {
  color: var(--btn-hr-color);
  background-color: var(--btn-hr-color);
  height: 0.4rem;
  border: none;
  width: 80%;
}


/* Course Card Rule*/

.list-heading {
  font-size: 0.70em;
  font-weight: bold;
  margin-bottom: 2vh;
}

.course-heading {
  margin: 3vh auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  flex-wrap: nowrap;
  font-size: 2.5rem;
}

.list-content li {
  margin: 1vh 0 1vh 0;
}

.course-name {
  color: goldenrod;
  font-weight: bold;
}

/* Work Experience Card*/
.work-heading {
  text-align: center;
  font-size: 2.5rem;
}


/* Big Format / Large Card Format */ 

.big-format {
  margin: 10vh;
  width: 70%;
  border-radius: 35px;
  background-image: url(./img/dark-honeycomb.png);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  box-shadow: var(--shadow);
  font-size: 1rem;
}

.big-format .course-line {
  color: gray;
  background-color: gray;
  height: 2px;
  border: none;
  width: 100%;
  margin: 0 auto;

}


/* Small Card Format */


.lan-format,
.tech-format {
  flex-basis: 40%;
  width: 100%;
  border-radius: 35px;
  margin: 0 0;
  background-image: url(./img/dark-honeycomb.png);
  text-align: center;
  padding: 30px;
  box-shadow: var(--shadow);
}


.lan-format ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  text-align: center;
}

.tech-format ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  text-align: center;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


.tray-comp {
  margin: 10vh auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  flex-wrap: nowrap;
}

.lan-format li {
  font-size: 1.3em;
}

.tech-format li {
  font-size: 1.1em;
}

/* Photos */

.side-photo {
  height: 16.5rem;
  border-radius: 15px;
  width: 10rem;
  vertical-align: middle;
  margin-right: 3.6em;
  margin-left: 3.6em;
  margin-top: 2em;
}



/* Footer */


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--footer);
  padding: 15px 0;
}


@media (max-width: 1080px) {
  .side-photo {
    display: none;
  }
  .tray-comp {
    display: block;
    width: 100%;
  }
  .lan-format {
    width: 70%;
    margin: 0 auto;
  }

  .tech-format {
    width: 70%;
    margin: 10vh auto 0 auto;
  }

  .big-format .main-col,
  .lan-format .main-col,
  .tech-format .main-col {
    width: 85%;
  }



}


@media (max-width: 650px) {
  .header h1 {
    font-size: 3.5rem;
  }
  .big-format h2,
  .lan-format h2,
  .tech-format h2 {
    font-size: 1.8em;
  }

  .list-heading {
    font-size: 0.4em;
  }

 
  .header h3 {
    font-size: 1rem;
    margin-bottom: 1.8em;
  }
  .icon {
    font-size: 1.7rem;
  }

  .logo {
    width: 9.2rem;
    height: 2.8rem;
  }

  .list-content {
    font-size: 0.8em;
  }
}

