.text {
  font-family: "Georgia", "Garamond", serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-image: url(img/herringbone.png);
}

.header h1 {
  color: snow;
  text-shadow: 2px 2px 12px black;
  margin-bottom: 0px;
  font-family: "Besley", serif;
}

.header h3 {
  text-shadow: 2px 2px 12px black;
  color: snow;
  font-weight: strong;
  font-size: 2vmax;
  margin-bottom: 40px;
  font-family: "Oxygen", sans-serif;
}

.header .header-icon {
  color: snow;
}

.header .header-icon:hover {
  color: firebrick;
}
.header .icon-tray {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

.header .background-img {
  background-image: url(img/firewatch.jpg);
  padding: 30px;
  text-align: center;
  background-size: cover;
  background-position: 50% 38%;
}

.header {
  width: 100%;
}

:root {
  --background: rgba(85, 214, 170, 0.85);
  --shadow: 20px 20px gray;
}

.nav-container {
  text-align: center;
  width: 100%;
  background: var(--background);
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  padding: 5px;
  width: 250px;
  height: 50px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Oxygen, sans-serif;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

.about-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.about-container h2 {
  font-weight: strong;
  text-align: center;
  font-family: "Besley", serif;
  color: rgb(211, 211, 211);
  font-size: 50px;
  margin: 0 0;
  word-spacing: 10px;
}

.about-format {
  width: 70%;
  border-radius: 35px;
  background-image: url(./img/dark-honeycomb.png);
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  box-shadow: var(--shadow);
}
.about-format .main-col {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  font-family: "Oxygen", sans-serif;
  text-align: left;
  line-height: 1.5;
  color: rgb(211, 211, 211);

}

.about-format hr {
  color: rgb(88, 0 , 0);
  background-color: rgb(88, 0 , 0);
  height: 5px;
  border-color: rgb(88, 0 , 0);
  width: 80%;
}

.side-photo {
  height: 210px;
  border-radius: 15px;
  width: 150px;
  vertical-align: middle;
  margin-right: 55px;
  margin-left: 55px;
  margin-top: 30px;
}

@media (max-width: 1080px) {
  .side-photo {
    display: none;
  }

  .about-format .main-col {
    width: 85%;
  }
 
}


@media (max-width: 550px) {
  .header h1 {
    font-size: 40px;
  }
  .about-container h2 {
    font-size: 30px;
  }

  
  .header h3 {
    font-size: 17.5px;
    margin-bottom: 20px;
  }
  .header .header-icon {
    font-size: 30px;
  }

  .logo {
    width: 150px;
    height: 30px;
  }
}

@media (min-width: 551px) {
  .header h1 {
    font-size: 70px;
  }
  .header h3 {
    font-size: 25px;
  }
  .header .header-icon {
    font-size: 40px;
  }
}